click>=8.0
jinja2>=2.11.3
keyring==10.1
PyGithub
jsonpath_ng
jsonschema
pendulum
pyyaml
packaging
rich
rich_click
semver
tabulate
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
